/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Navbar/Navbar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbar__UMdIx {
  display: flex;
  padding: 1rem;
  background: #141441;
  color: #fff;
  border-bottom: 1px solid rgb(179, 179, 211);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Navbar_navLink__WmfVb {
  font-size: 20px;
  color: rgb(219, 216, 216);
}
.Navbar_logo__PiZmU {
  width: 32px;
  margin-left: 20px;
}

.Navbar_linksContainer__zKzpV {
  display: flex;
  gap: 25px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/global.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
body {
  background: #141436;
  height: 95vh;
  /* color: white; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #dbdee0;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Login/Login.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Login_welcome__m8TD3 {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(219, 216, 216);
}
.Login_signOut__nGI2C {
  margin-top: 20px;
}
.Login_divWelcome__1kbWV {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Login_signInLink__25YvC {
  font-size: 20px;
  color: rgb(219, 216, 216);
}

.Login_signInLink__25YvC:hover {
  text-decoration: none;
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/team/team.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.team_container__ynvnI {
  justify-content: center;
  background: #141436;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}
.team_teamsHeader__K4te8 {
  font-size: 33px;
}
.team_teamHeader___l1na {
  font-size: 25px;
}
.team_markColor__SqQcI {
  color: rgb(15, 134, 11);
}
.team_th__h_WCd,
.team_td__57Pbp {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e2e8f0;
  color: white;
}
.team_accordionPanel__OT_JJ {
  padding-bottom: 16px;
  color: white;
}
.team_accordion__2S_ae {
  max-height: calc(100vh - 60px);
  min-width: 35%;
  overflow-y: auto;
}
.team_table__Wr0Ox {
  width: 100%;
  border-collapse: collapse;
}
.team_createButton__xLpwS {
  margin-bottom: 20px;
}
