.tablebox {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.container {
  display: flex;
  justify-content: center;
  background: #141436;
}
.tableCaption {
  margin-bottom: 10px;
  font-size: 40px;
}
.productText {
  margin-bottom: 100px;
}
.tableProduct th,
.tableProduct td,
.tableProduct,
.td {
  color: #d5d9db;
}
.tableContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.lineChart {
  margin-bottom: 20px;
}
.tableProduct {
  width: 100%;
  font-size: 19px;
}
.table {
  background-color: #aac5eb;
}
